.card{
    border: 1px solid hsl(0, 40%, 65%);
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(49, 27, 27);
    text-align: center;
    max-width: 250px;
    display: inline-block;
}
.card .card-img{
    border-radius: 50%;
    max-width: 60%;
    margin-top: 5px;
    height: auto;
    margin-bottom: 10px;
}